html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
